/* 基础样式 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    font-size: 14px;
    font-family: '微软雅黑', serif, sans-serif;
}
body{
    height: 100%;
    overflow: hidden;
}
#app {
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-size:14px;
    font-weight: normal;
}
li{
    list-style-type: none;
}
i{
    font-style: normal
}
button,input{
    outline: none;
    border:none;
    &:active{
        outline:2px solid rgb(45, 140, 240);
    }
}
a{
    color: inherit;
    text-decoration: none;
}
/* 公共样式 */
.align_center{
    text-align: center;
}
.align_left{
    text-align: left;
}
.align_right{
    text-align: right;
}
